<section class="about-show">
  <header class="page-header">
  <section>
    <h1>Welcome to The Jungle store!</h1>
    <br>
    <div>
    <h5>
    We are a team of plant enthusiasts who have a passion for bringing the joy of plants into homes and gardens. Our goal is to provide high quality plants and helpful information to help our customers grow and care for their plants.<br><br>

    We offer a wide variety of houseplants. Our plants are carefully selected and packaged to ensure they arrive at your doorstep in the best possible condition.<br><br>

    Thank you for choosing our online plant store. We look forward to helping you grow your green thumb!
    </h5>
  <div>
  </section>

  </header>
</sectino>